@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.user-table {
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
}

.user-table-cell {
    font-family: "Roboto-Medium", Helvetica;
    font-weight: 400;
    border: 0px none;
    text-align: left;
    padding: 19px 0 16px 23px;
    font-size: 13px;
    border: 1px solid #E3E6EC;
    color: #474955;
}

.user-table-header {
    font-family: "Roboto-SemiBold", Helvetica;
    font-weight: 600;
    height: 54px;
    font-size: 14px;
    color: #ffffff;
    background-color: #474955;
    border: none;
    min-width: 4em;
}

.arrow {
    padding: 0 10px;
    width: 1em;
}
